<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" 
	
      package="com.SAB_v1"
      android:installLocation="preferExternal" 
      android:theme="@android:style/Theme.Black" android:versionName="1.5" android:versionCode="10">
      <supports-screens

	android:largeScreens="true"

	android:normalScreens="true"

	android:smallScreens="true"

	android:anyDensity="true" />
    <uses-sdk android:minSdkVersion="8" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"></uses-permission>
    <uses-permission android:name="android.permission.INSTALL_PACKAGES"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>

     <application android:label="@string/app_name" android:icon="@drawable/myicon">
   <uses-library android:name="com.google.android.maps"/>
        <activity android:name=".SAB_v1"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
				<activity android:name=".FeedBack"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".View_notes"
                  android:label="@string/app_name"
                android:theme="@android:style/Theme.Translucent.NoTitleBar"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.ANSWER" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".CommScore"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".Keypads"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".SMSKeypad"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".UpdateStatusGroupContactsDetails"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".GroupContactDetails"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".Main"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".ManualSync_Saved_uid"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".Two_Screen_Settings"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".GRIDCONTEXT"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".CustomAdapter"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".DialNumber"
                  android:label="@string/app_name"
                  android:windowSoftInputMode="stateAlwaysVisible" 
                  android:screenOrientation="portrait">
                  
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".Preview"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".CapturePhoto"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".CallsScore"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".EmailScore"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".SMSScore"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".RecentContacts"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".DeleteCallLogs"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".CallLogDetails"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".SAB_Session"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".AddTaskCallList"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".AddTaskCallListDetails"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".AddTaskContactDetails"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".delete_task_frm_cdetails"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".deletenotes"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                   <activity android:name=".Favorites"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                   <activity android:name=".BannerEssentials"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                    <activity android:name=".FriendsList1"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                   <activity android:name=".AddAccount"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                   <activity android:name=".FacebookLogin"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                   <activity android:name=".TwitterLogin"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                   <activity android:name=".Removeduplicates"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                    <activity android:name=".TaskSettings"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".AlarmDetails_call"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".DisplayNotification_call"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".DisplayNotification"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".AlarmDetails"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".Launcher"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".AccountSettings"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                    <activity android:name=".EditProfile"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                 <activity android:name=".MyProfile"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".ViewProfile"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".ViewCallLog"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".DeleteFavorites"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".AddFavorites"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".UpdateStatusContactsDetails"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".UpdateStatusCallListContactsDetails"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".UpdateStatusCallList"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".Edit_group"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name=".SMSGroup"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              
            </intent-filter>
                 </activity>
                 <activity android:name=".Dedit"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              
            </intent-filter>
        
          </activity>
          <activity android:name=".MasterSettings"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              
            </intent-filter>
        
          </activity>
          <activity android:name=".Create_group"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              
            </intent-filter>
        
          </activity>
           <activity android:name=".DeleteGroup"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              
            </intent-filter>
        
          </activity>
          <activity android:name=".DeleteGroupDetails"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              
            </intent-filter>
        
          </activity>
           <activity android:name=".GroupDetails"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              
            </intent-filter>
        
          </activity>
           <activity android:name=".Contacts1"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            </activity>
           <activity android:name=".ViewGroups"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              
            </intent-filter>
        
          </activity>
          <activity android:name=".DeviceLog"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              
            </intent-filter>
        
          </activity>
             <activity android:name=".AddTaskdate"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
        </activity>
         <activity android:name=".DeleteTask"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
        </activity>
        <activity android:name=".ViewNotesDetails"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
        </activity>
        <activity android:name=".ViewTaskDetails"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
        </activity>
         <activity android:name=".DeleteContacts"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
        </activity>
             <activity android:name=".DeleteAllTasks"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              
            </intent-filter>
        </activity>
         <activity android:name=".TakeSnap"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              
            </intent-filter>
        </activity>
        <activity android:name=".DeleteCallList"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              
            </intent-filter>
        </activity>
        <activity android:name=".Account"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              
            </intent-filter>
        </activity>
        <activity android:name=".view_account"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              
            </intent-filter>
        </activity>
        <activity android:name=".delete_account"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              
            </intent-filter>
        </activity>
        <activity android:name=".Gmail_sender1"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              
            </intent-filter>
        </activity>
         <activity android:name=".MyUpdateService"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
        </activity>
        <activity android:name=".DeleteList"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
            </intent-filter>
        </activity>
        <activity android:name=".SearchDetails"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
            </intent-filter>
        </activity>
              <activity android:name=".EditList"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
            </intent-filter>
        </activity>
        <activity android:name=".Details"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
            </intent-filter>
             </activity>
              <activity android:name=".AddMoreInfo"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>
             <activity android:name=".Contacts"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
            </intent-filter>
             </activity>
        <activity android:name=".AddContact"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
        </activity>
        <activity android:name=".EditContact"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
        </activity>
        <activity android:name=".ViewTask"
                  android:label="@string/app_name"
                  android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
        </activity>
        <activity android:name=".DeleteContact"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
        </activity>
        <activity android:name=".AllContacts"
        	android:label="@string/app_name"
        	   android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
        </activity>
         <activity android:name=".CreateList"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
            </intent-filter>
        </activity>
        
             <activity android:name=".Call"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
            </intent-filter>
             </activity>
             <activity android:name=".CallList"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
            </intent-filter>
             </activity>
<activity android:name=".DialogforCreate"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>
<activity android:name=".DisplayCallList"
                  android:label="@string/app_name"
                    android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>
             
<activity android:name=".DisplayCallListDetails"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
            </intent-filter>
             </activity>
             <activity android:name=".AddTask"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>
             <activity android:name=".Call1"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
            </intent-filter>
             </activity>
                            <activity android:name=".Sync"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
            </intent-filter>
             </activity> 
              <activity android:name=".CallLogDisplay"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>   
              <activity android:name=".Calldetails"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
            </intent-filter>
             </activity>   
                       <activity android:name=".UpdateStatus"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>   
                      <activity android:name=".Task_Today"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>
             <activity android:name=".Task_Pending"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>   
             <activity android:name=".Task_Upcoming"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
            </intent-filter>
             </activity>      
             <activity android:name=".Task"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>  
             <activity android:name=".Task_UpcomingDetails"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>      
             <activity android:name=".Task_PendingDetails"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
            </intent-filter>
             </activity>  
              <activity android:name=".SendMail"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>   
              <activity android:name=".SMS"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
            </intent-filter>
             </activity>   
             <activity android:name=".ViewTask"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>   
              <activity android:name=".Select"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>  
              <activity android:name=".Sync"
              android:screenOrientation="portrait"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>    
              <activity android:name=".DateTime"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>   
              <activity android:name=".DateTimePicker"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              
            </intent-filter>
             </activity>
              <activity android:name=".Register"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>    
              <activity android:name=".Call1"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity> 
               <activity android:name=".Search"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>  
             <activity android:name=".Import"
                  android:label="@string/app_name"
                   android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>    
             <activity android:name=".addtask"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>   
             <activity android:name=".Bscontacts"
                  android:label="@string/app_name"
                   android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>        
             <activity android:name=".Settings"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>            
              <activity android:name=".AutoSync"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
            
             </activity>
                <activity android:name=".calendar.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
             />
            </intent-filter>
        </activity>      
              <activity android:name=".ManualSync"
              android:screenOrientation="portrait"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
            </intent-filter>
             </activity>     
             <activity android:name=".Edit"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity> 
              <activity android:name=".SMS_log_details"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>     
             <activity android:name=".ContactDetails"
                  android:label="@string/app_name"
                    android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>   
             <activity android:name=".Editcontacts"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>    
             <activity android:name=".CallListContactDetails"
                  android:label="@string/app_name"
                    android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>     
             <activity android:name=".ViewTaskByDate"
                  android:label="@string/app_name"
                    android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>   
             <activity android:name=".Delete"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>
                  <activity android:name=".AddTaskc"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>  
<activity android:name=".Aboutus"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
        </activity> 
         <activity android:name=".AndroidAlarmService"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
              
            </intent-filter>
        </activity>
        <activity android:name=".Hackbook" 
		    android:label="@string/app_name"
		    android:configChanges="keyboardHidden"
		    android:screenOrientation="portrait">
		</activity>
		<activity 
			android:name=".GraphExplorer"
			android:windowSoftInputMode="stateHidden"
		    android:screenOrientation="portrait" />
	    <activity android:name=".IntentUriHandler">
	    	<intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <data android:scheme="fbgraphex" />
	      	</intent-filter>
	    </activity>
		<activity 
			android:name=".FriendsList"
			android:screenOrientation="portrait" />
		<activity 
			android:name=".Places"
			android:screenOrientation="portrait" />
          <activity android:name=".SecureMessagesActivity"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>         
         <activity android:name=".SyncSettings"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>  
        <activity android:name=".ViewTaskByDate1"
                  android:label="@string/app_name"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                     </intent-filter>
                  </activity>
                  <activity android:name="com.google.ads.AdActivity" 
              android:configChanges="keyboard|keyboardHidden|orientation"/>
		<service android:name=".MyAlarmService" />
              <activity android:name=".ViewTaskList"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>  
              <activity android:name=".Taskdetails"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
               
            </intent-filter>
             </activity>             
              <activity android:name=".ProximityIntentReceiver" >
         <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
            </intent-filter>
        
            </activity>
    <receiver
            android:name=".MyAlarmService">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <data
                    android:scheme="myscheme" />
            </intent-filter>
        </receiver>
         <receiver
            android:name=".MyAlarmServiceCalllist">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <data
                    android:scheme="myscheme" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".MyAlarmServiceTask">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <data
                    android:scheme="myscheme" />
            </intent-filter>
        </receiver>
            <receiver
            android:name=".BinarySMSReceiver">
            <intent-filter>
                <action
                    android:name="android.intent.action.MAIN" />
                <data
                    android:scheme="myscheme" />
            </intent-filter>
        </receiver> 
        <receiver android:name="IncomingCallReceiver"> 
			<intent-filter> 
			    <action android:name="android.intent.action.PHONE_STATE"/>
			   	    </intent-filter> 
		</receiver>
        
        <service android:enabled="true" android:name=".MyService" />
         <service android:enabled="true" android:name=".SMS_Log_Service" />
        </application>

     <uses-permission android:name="android.permission.WRITE_SETTINGS"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCOUNT_MANAGER"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.BROADCAST_SMS"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PRIVILEGED"></uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS"></uses-permission>
    <uses-permission android:name="android.permission.READ_FRAME_BUFFER"></uses-permission>
    <uses-permission android:name="com.android.browser.permission.READ_HISTORY_BOOKMARKS"></uses-permission>
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_INPUT_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS"></uses-permission>
    <uses-permission android:name="android.permission.SEND_SMS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_SMS"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
      <uses-permission android:name="android.permission.CAMERA" />
 	<uses-feature android:name="android.hardware.camera" />
 	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
        <uses-permission android:name="android.permission.VIBRATE" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
		<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>

    
</manifest>